<h1>Listing Articles</h1>
 
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th colspan="3"></th>
  </tr>
 
  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.text %></td>
      <td><%= link_to 'Show', article_path(article) %></td>
      <td><%= link_to 'Edit', edit_article_path(article) %></td>
      <td><%= button_to 'Destroy',article,method: :delete ,data:{ confirm: 'Are you sure?' } %></td>
   </tr>
  <% end %>
</table>
 <%= link_to 'New article', new_article_path %><br>
 
 