
<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>
<h6>Comments:</h6>
<%= render @article.comments %>
<h6>Add a comment:</h6>
<%= render 'comments/form' %>
<%= link_to 'Edit', edit_article_path(@article) %> 
<%= link_to 'Back', articles_path %>
<%= link_to 'My Blog', controller: 'articles' %>
